@font-face{
  font-family: "titleFont";
  src: url("../fonts/Orca-Chase.ttf") format("truetype");
}

html, body, h1, h2, h3, h4, a, li {
  font-family: "titleFont" !important;
  color: white;
}
h2{
  text-transform: uppercase !important;
}
body{
  background-color: black;
  background-image: url("../img/IMG_4506.jpg") !important; 
  position: relative;
}
.title{
   /* background-image: url("../img/IMG_4504.jpg") !important;  */
}
img{
  width: 100% !important;
  height: auto;
  max-width: 400px !important;
}
#slider, #contact{
   background-color: rgba(124, 68, 191, .6) !important;
}
.title-name{
  color:  rgb(124, 68, 191);
  -webkit-text-stroke: 2px black;
  text-shadow: 2px 1.5px 0px #495057, 4px 3px 0px #fff;
  font-size: calc(55px + (110 - 55) * ((100vw - 320px) / (1024 - 320))); 
  text-transform: uppercase;
}
.title-sub{
  font-size: 22px;
}
.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50;
}
.divider-custom .line:first-child {
  margin-right: 1rem;
}
.divider-custom .line:last-child {
  margin-left: 1rem;
}
.divider-custom .controller-icon {
  color: #2c3e50;
  font-size: 2rem;
}
.divider-custom.divider-light .line {
  background-color: #fff;
}
.divider-custom.divider-light .controller-icon {
  color: #fff;
}
#about {
  width: 92%;
  max-width: 800px !important;
}
#about, .contact-text{
  text-align: left;
}
form{
  width: 92%;
  max-width: 600px !important;
}
.hover-img {
    transition: all 0.2s ease !important;
    cursor: pointer !important; 
}
.hover-img:hover{
    box-shadow: 3px 3px 3px 2px black !important;
    transform: scale(1.03) !important;
}
.form-control:focus {
  border-color: black;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.45);
} 
.copyright {
  color: #adb5bd !important;
}
#alien {
  width: 60px !important;
  height: 60px !important;
}
.svg{
  filter: white !important;
}

#musicPause{
  display: none;
}
@media (max-width: 767px){
  .fa-circle-play, .fa-circle-pause {
    display: none !important;
  }
}
@media (min-width: 768px){
  .logo-link {
    margin-bottom: 50px;   
  }
  .nav-link {
    font-size: 25px;
    margin-bottom: 1rem;
  }
  #alien {
    width: 100px !important;
    height: 100px !important;
  }
  /* ------------------------------- Show/Hide Icon --------------------------------------//
  /* Container needed to position the overlay. Adjust the width as needed */
  .alien-container {
    position: relative;
    height: 100%;
  }

  a{
    text-decoration: none !important;
  }
  .fa-circle-play, .fa-circle-pause {
    color: rgb(124, 68, 191);
    width: 60px !important;
    height: 60px !important;
  }
  /* When you move the mouse over the icon, change color */
  .fa-circle-play:hover, .fa-circle-pause:hover  {
    color: black;
    cursor: pointer;
  }

  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
  .icon {
    position: absolute;
    top: 17.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .title-name{
    font-size: 120px;
  }
  .title-sub{
    font-size: 30px;
  }
}

